.jumbotron {
  background-image: url(/home/orukopius/Pictures/dice2.jpeg);
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Frijole', cursive;
}

.form-group {
  color: blue;
  font-size: 26px;
}

p {
  color: #ff6d00;
}

h2 {
  color: #e65100;
}
