.jumbotron {
  background-image: url(https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Frijole', cursive;
}

.form-group {
  color: blue;
  font-size: 26px;
}

p {
  color: #ff6d00;
}

h2 {
  color: #e65100;
}
